* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.card {
  width: 1200px;
  height: 700px;
  background-color: white;
  display: flex;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  height: 100%;
  width: 65%;
  background-color: rgb(236, 200, 82);
  padding: 50px;
}
.right {
  height: 100%;
  width: 35%;
  background-color: rgb(252, 225, 189);
  position: relative;
}
.pikachu {
  width: 400px;
  position: absolute;
  top: 230px;
  right: 175px;
}
.logo {
  width: 150px;
}
.small-text {
  font-family: "Poppins", sans-serif;
  margin-top: 110px;
  font-size: 15px;
  letter-spacing: 8px;
  padding: 40px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  font-weight: 900;
  padding-left: 40px;
}
.desc {
  font-family: "Poppins", sans-serif;
  width: 440px;
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.8;
  padding-left: 40px;
}
.date {
  font-size: 20px;
  padding-left: 40px;
  margin-top: 20px;
  font-weight: 900;
}
.menu div {
  width: 40px;
  height: 4px;
  background-color: black;
  margin-top: 6px;
}
.menu {
  position: absolute;
  top: 50px;
  right: 50px;
}
